<footer class="d-flex flex-wrap justify-content-between align-items-center border-top border-dark">
  <div class="col-md-4 d-flex align-items-center">
    <a href="./index.html" class="text-body-secondary text-decoration-none lh-1"
       aria-label="Bootstrap">
    </a>
    <span class="text-body-secondary">© 2025 Tudo Filmes, Inc ltda</span>
  </div>
  <ul class="nav col-md-4 justify-content-end my-3">
    <li class="nav-item"><a [routerLink]="'pagina-inicial'" [routerLinkActive]="'active'" class="nav-link px-2 text-body-secondary">Início</a></li>
    <li class="nav-item"><a [routerLink]="'filmes'" [routerLinkActive]="'active'" class="nav-link px-2 text-body-secondary">Filmes</a></li>
    <li class="nav-item"><a [routerLink]="'series'" [routerLinkActive]="'active'" class="nav-link px-2 text-body-secondary">Séries</a></li>
    <li class="nav-item"><a [routerLink]="'cadastro'" [routerLinkActive]="'active'" class="nav-link px-2 text-body-secondary">Cadastre-se</a></li>
    <li class="nav-item"><a [routerLink]="'sobre'" [routerLinkActive]="'active'" class="nav-link px-2 text-body-secondary">Sobre</a></li>
  </ul>
</footer>
