<div class="shadow bg-dark text-white">
  <div class="title container">
    <h1 class=" bg-secondary p-3 rounded-3">Novidades</h1>
    <div class="text-center">
      <div class="text-center d-flex">
        <div class="col-md-12 d-flex">
          <figure class="col-md-4" *ngFor="let filme of listafilmes;let i = index">
            <a class="text-white link-primary" (click)="openModal()" style="cursor:pointer">
              <img src="{{filme.imagem}}" width="300" height="400">
              <figcaption class="text-center">{{ filme.nome}}</figcaption>
            </a>
          </figure>

        </div>

      </div>

    </div>


  </div>


</div>

<div class="modal fade" id="visualizar-filme" tabindex="-1" role="dialog" aria-labelledby="visualizar-filme" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Visualizar"></h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="closeModal()">&times;</button>
      </div>

      <div class="modal-body">
        <p> <strong>Titulo:</strong>
<!--          {{ tarefaVisualizar?.titulo }}-->
        </p>
        <p>
          <strong>Sinopse:</strong>
<!--          {{ tarefaVisualizar?.descricaoTarefa }}-->
        </p>
        <p>
          <strong>Trailer:</strong>
<!--          {{ tarefaVisualizar?.statusTarefa }}-->
        </p>
        <p>
          <strong>Data Inicio:</strong>
<!--          {{ tarefaVisualizar?.dataInicio | date:'dd/MM/yyyy'}}-->
        </p>
        <p>
          <strong>Data Conclusão:</strong>
<!--          {{ tarefaVisualizar?.dataConclusao | date:'dd/MM/yyyy'}}-->
        </p>

<!--        <img [src]="tarefaVisualizar?.imagem" alt="imagem da tarefa" *ngIf="tarefaVisualizar?.imagem" style="max-width: 100%; max-height: 300px; height: auto">-->
      </div>
      <div class="modal-footer">
        <button class="btn-secondary" type="button" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>

</div>
