<div class="bg-dark text-white">
  <div class="title container">
    <h1 class=" bg-secondary p-3 rounded-3">Novidades</h1>
    <div class="text-center">
      <div class="text-center d-flex">
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let filme of listafilmes">
            <figure class="text-center">
              <a class="text-white link-primary"
                 (click)="openModalFilmes(); setFilmeAtual(filme)"
                 style="cursor:pointer"
                 data-toggle="modal" data-target="#visualizar-filme">
                <img [src]="filme.imagem"  class="img-fluid img-padrao">
                <figcaption class="text-center mt-2">{{ filme.nome }}</figcaption>
              </a>
            </figure>
          </div>

          <div class="col-md-4 mb-4 pb-5" *ngFor="let serie of listaseries">
            <figure class="text-center">
              <a class="text-white link-primary"
                 (click)="openModalSeries(); setSerieAtual(serie)"
                 style="cursor:pointer"
                 data-toggle="modal" data-target="#visualizar-serie">
                <img [src]="serie.imagem"  class="img-fluid img-padrao">
                <figcaption class="text-center mt-2">{{ serie.nome }}</figcaption>
              </a>
            </figure>
          </div>
        </div>


      </div>

    </div>


  </div>


</div>

<div class="modal fade" id="visualizar-filme" tabindex="-1" role="dialog" aria-labelledby="visualizar-filme" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header ">
        <h5 class="modal-title w-100 text-center" id="Visualizar">{{filmesvisualizar?.nome}}</h5>
      </div>

      <div class="modal-body text-center">
        <img [src]="filmesvisualizar?.imagem" alt="imagem da tarefa" *ngIf="filmesvisualizar?.imagem" style="max-width: 100%; max-height: 300px; height: auto">




        <p>
          <strong>Sinopse:</strong>
            {{filmesvisualizar?.sinopse}}

        </p>


        <div class="video-container" *ngIf="safeIframe">
          <div [innerHTML]="safeIframe"></div>
        </div>




      </div>
      <div class="modal-footer justify-content-between">
        <button class="btn btn-outline-light" type="button" data-dismiss="modal" (click)="closeModalFilmes()">Fechar</button>

        <a class="btn btn-success"
           [routerLink]="['/assistir-filme', filmesvisualizar?.id]"
           *ngIf="filmesvisualizar" (click)="closeModalFilmes()">
          Assistir
        </a>
      </div>


    </div>
  </div>

</div>


<div class="modal fade" id="visualizar-serie" tabindex="-1" role="dialog" aria-labelledby="visualizar-serie" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="Visualizar">{{serievisualizar?.nome}}</h5>
      </div>

      <div class="modal-body text-center">
        <img [src]="serievisualizar?.imagem" alt="imagem da serie" *ngIf="serievisualizar?.imagem" style="max-width: 100%; max-height: 300px; height: auto">

        <p class="text-center">
        <p>
          <strong>Sinopse:</strong>
          {{serievisualizar?.sinopse}}

        </p>


        <div class="video-container" *ngIf="safeIframe">
          <div [innerHTML]="safeIframe"></div>
        </div>




      </div>
      <div class="modal-footer justify-content-between">
        <button class="btn btn-outline-light" type="button" data-dismiss="modal" (click)="closeModalSerie()">Fechar</button>

        <a class="btn btn-success"
           [routerLink]="['/assistir-serie', serievisualizar?.id]"
           *ngIf="serievisualizar" (click)="closeModalSerie()">
          Assistir
        </a>
      </div>


    </div>
  </div>

</div>
