<div class="bg-dark text-white">


  <div class="title container">
    <h1 class=" bg-secondary p-3 rounded-3">Séries</h1>
    <div>
      <div class="text-center">
        <div class="text-center d-flex">
          <div class="col-md-12 d-flex">
            <figure class="col-md-4" *ngFor="let serie of listaseries;let i = index">
              <a class="text-white link-primary" (click)="openModalSeries(); setSerieAtual(serie)" style="cursor:pointer">
                <img src="{{serie.imagem}}" width="300" height="400">
                <figcaption class="text-center">{{ serie.nome}}</figcaption>
              </a>
            </figure>

          </div>

        </div>

      </div>


    </div>


  </div>
  <div class="modal fade" id="visualizar-serie" tabindex="-1" role="dialog" aria-labelledby="visualizar-serie" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Visualizar"></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="closeModalSerie()">&times;</button>
        </div>

        <div class="modal-body">
          <img [src]="serievisualizar?.imagem" alt="imagem da serie" *ngIf="serievisualizar?.imagem" style="max-width: 100%; max-height: 300px; height: auto">

          <p class="text-center">
            <strong>Nome:</strong>
            {{serievisualizar?.nome}}


          </p>
          <p>
            <strong>Sinopse:</strong>
            {{serievisualizar?.sinopse}}

          </p>


          <div class="video-container" *ngIf="safeIframe">
            <div [innerHTML]="safeIframe"></div>
          </div>




        </div>
        <div class="modal-footer">
          <button class="btn-secondary" type="button" data-dismiss="modal" (click)="closeModalSerie()">Fechar</button>
        </div>

      </div>
    </div>

  </div>
