<div class="shadow bg-dark text-white">


  <div class="modal-title container">
    <h1 class=" bg-secondary p-3 rounded-3">Filmes</h1>
    <div>
      <div class="text-center d-flex gap-5">
        <figure>
          <a class="text-white link-primary">
            <img src="assets/imgs/oddity.webp" width="300" height="400">
            <figcaption class="text-center">Oddity</figcaption>
          </a>
        </figure>
        <figure>
          <a class="link-primary text-white ">
            <img src="assets/imgs/coringa-2.jpg" width="300" height="400">
            <figcaption class="text-center">Coringa 2</figcaption>
          </a>
        </figure>
        <figure>
          <a class="link-primary text-white" href="#">
            <img src="assets/imgs/pecadores.jpg" width="300" height="400">
            <figcaption class="text-center"></figcaption>
          </a>
        </figure>
      </div>

    </div>


  </div>


</div>
