<link rel="stylesheet" href="./header.component.css">

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand ">Tudo Filmes</h1>


  <div class="collapse navbar-collapse gap-3" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-secondary nav-link" [routerLink]="'pagina-inicial'" [routerLinkActive]="'active'">Inicio<span class="sr-only">(atual)</span></a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filmes/séries
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" [routerLink]="'filmes'" [routerLinkActive]="'active'">Filmes</a></li>
        <li><a class="dropdown-item" [routerLink]="'series'" [routerLinkActive]="'active'">Séries</a></li>
      </ul>
    </div>
    <div class="d-flex ms-auto form-inline my-2 my-md-0 align-items-center gap-2">
      <ul class="navbar-nav mr-auto gap-2">
        <li class="nav-item" *ngIf="!usuarioLogado">
          <a class="nav-link btn btn-secondary" [routerLink]="'cadastro'" [routerLinkActive]="'active'">Cadastrar<span class="sr-only"></span></a>
        </li>
        <li class="nav-item" *ngIf="!usuarioLogado">
          <a class="nav-link btn btn-secondary" [routerLink]="'login'" [routerLinkActive]="'active'">Login <span class="sr-only"></span></a>
        </li>
        <li class="nav-item" *ngIf="usuarioLogado">
          <a class="nav-link btn btn-secondary" [routerLink]="'editar-usuario'" [routerLinkActive]="'active'">{{usuarioLogado?.nome}} <span class="sr-only"></span></a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control" type="text" placeholder="Pesquisar">
        <button class="btn btn-outline-success" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
